<?xml version="1.0" encoding="UTF-8"?>
<!-- Bean头部 -->  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:util="http://www.springframework.org/schema/util"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd  
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">  
 <!-- 对包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能  需要更改-->  
    <context:component-scan base-package="it304.*" />  
   <!-- 配置启动时执行方法，该bean监控ContextRefreshedEvent事件（容器初始化完成事件） -->
<bean id="beanDefineConfigue" class="it304.sys.InitClass"></bean> 
	<!-- 引入其他配置文件 -->
<import resource="classpath:spring-datasource.xml"/>
</beans>